<app-alert-modal
  *ngIf="modalVisibility"
  [alertMessage]="modalMessage"
  (modalVisibility)="toggleModalVisibility()"
></app-alert-modal>

<main class="main-container">
  <h1 class="title">Search a Pokemon</h1>
  <div class="search-area">
    <input
      placeholder="Type a pokemon Id or Name"
      class="search-input"
      [(ngModel)]="searchName"
      type="text"
      (keyup.enter)="onClick()"
    />
    <button class="btn search-btn" (click)="onClick()">Search</button>
  </div>
  <img
    class="loading-img"
    *ngIf="isLoading"
    src="../../../assets/icons/pokeball.gif"
    alt="pokeball"
  />
  <div *ngIf="receivedPokemon" class="result-container">
    <app-pokemon-card
      class="search-result"
      [pokemonProps]="receivedPokemon"
    ></app-pokemon-card>
  </div>
</main>
