.card {
  transition: all 500ms ease-in-out;
  animation: appear 500ms;
  padding: 1.5rem;
  border-radius: 5px;
  background-color: var(--light-gray-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  &__favorite-btn {
    border: none;
    cursor: pointer;
    display: flex;
    align-self: flex-end;
    background-color: transparent;
    & svg {
      width: 35px;
      & path {
        transition: all 500ms ease-in-out;
      }
      & path:hover {
        transition: all 250ms ease-in-out;
        fill: #fff41f;
      }
    }
  }

  & h3 {
    font-size: 24px;
    color: var(--dark-gray);
  }

  &__sprite {
    width: 160px;
  }

  &__types-container {
    display: flex;
    gap: 1rem;

    & img {
      width: 100px;
    }
  }

  &:hover {
    background-color: var(--red);
    cursor: pointer;

    & h3 {
      color: var(--light-gray-2);
    }
  }

  &:active {
    background-color: var(--dark-red);
  }
}

.yellow-star {
  fill: #fff41f;
}

.dark-star {
  fill: #282832;
}
