.pokemon-card {
  transition: all 500ms ease-in-out;
  animation: appear 500ms;
  padding: 2rem 1rem;
  border-radius: 5px;
  background-color: var(--light-gray-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  & h3 {
    color: var(--dark-gray);
  }

  & .pokemon-sprite {
    width: 160px;
  }
}

.types-container {
  display: flex;
  gap: 1rem;

  & img {
    width: 100px;
  }
}
