<div class="buttons-container">
  <app-button>
    <app-svg
      icon="sng-arrow-left"
      color="#282832"
      hoverColor="#dee7e7"
    ></app-svg>
  </app-button>
  <app-button>
    <app-svg
      icon="ellipsis"
      navigationSide="left"
      color="#282832"
      hoverColor="#dee7e7"
    ></app-svg>
  </app-button>
  <app-button label="1"></app-button>
  <app-button>
    <app-svg
      icon="ellipsis"
      navigationSide="right"
      color="#282832"
      hoverColor="#dee7e7"
    ></app-svg>
  </app-button>
  <app-button>
    <app-svg
      appSvgHover
      icon="sng-arrow-right"
      color="#282832"
      hoverColor="#dee7e7"
    ></app-svg>
  </app-button>
</div>
