<img
  class="loading-img"
  *ngIf="isLoading"
  src="../../../assets/icons/pokeball.gif"
  alt="pokeball"
/>
<main
  *ngIf="!isLoading && pokemonBasicDetails"
  class="main-container details-container"
>
  <h1 class="title">{{ pokemonData.name | snakeToNormalCase | titlecase }}</h1>
  <h2>{{ genera | snakeToNormalCase | titlecase }}</h2>
  <hr />
  <section class="sprites-container info-container">
    <h2>Sprites</h2>
    <div class="sprites-container__inputs">
      <select
        name="generationPicker"
        id="generationPicker"
        [(ngModel)]="selectedGeneration"
        (change)="updateVersions()"
      >
        <option
          *ngFor="let generation of generationOptions"
          [value]="generation"
        >
          {{ generation }}
        </option>
      </select>
      <select
        name="versionPicker"
        id="versionPicker"
        [(ngModel)]="versionSelected"
        (ngModelChange)="setGameVersion($event)"
      >
        <option selected disabled [value]="versionSelected">Pick a game</option>
        <option *ngFor="let version of versionOptions" [ngValue]="version">
          {{ version }}
        </option>
      </select>
    </div>

    <div class="sprites-container__images-grid" *ngIf="sprites.length">
      <button class="close-btn btn">
        <img
          src="../../assets/icons/botao-x.png"
          alt=""
          (click)="closeSprites()"
        />
      </button>
      <img
        *ngFor="let sprite of sprites"
        [src]="sprite"
        alt=""
        class="sprite"
      />
    </div>
  </section>

  <section class="stats-container info-container">
    <h2>Base stats</h2>
    <div
      *ngFor="let stat of pokemonBasicDetails.stats"
      class="stats-container__stat"
    >
      <p>{{ stat.stat.name | snakeToNormalCase | titlecase }}</p>
      <span [style.width.px]="(stat.base_stat / 255) * 500" class="stat-bar">
        {{ stat.base_stat }}
      </span>
      <!-- <span
        [ngStyle]="{ 'width.px': (stat.base_stat / 255) * 500 }"
        class="stat-bar"
      >
        {{ stat.base_stat }}
      </span> -->
    </div>
  </section>

  <section class="moves-container info-container">
    <h2>Moves</h2>
    <div class="moves-container__inputs">
      <select
        name="moveVersionPicker"
        id="moveVersionPicker"
        [(ngModel)]="selectedMoveVersion"
        (ngModelChange)="setMoveVersion($event)"
      >
        <option selected disabled [value]="selectedMoveVersion">
          Pick a game
        </option>

        <option *ngFor="let version of moveVersionOptions" [ngValue]="version">
          {{ version | snakeToNormalCase | titlecase }}
        </option>
      </select>
    </div>

    <div *ngIf="selectedMoveVersion" class="moves-container__moves-list">
      <details
        *ngFor="let category of getMovesLearnMethods()"
        class="learn-method-category"
      >
        <summary>
          {{ category | snakeToNormalCase | titlecase }}
        </summary>

        <p *ngFor="let move of filterMovesByMethod(category)">
          {{ move | snakeToNormalCase | titlecase }}
        </p>
      </details>
    </div>
  </section>
</main>
