<span
  [ngSwitch]="icon"
  (mouseenter)="handleHover()"
  (mouseleave)="handleLeave()"
>
  <svg
    appSvgHover
    [attr.width]="size"
    [attr.height]="size"
    viewBox="0 0 24 24"
    fill="none"
    *ngSwitchCase="'ellipsis'"
  >
    <path
      d="M12 13.75C12.9665 13.75 13.75 12.9665 13.75 12C13.75 11.0335 12.9665 10.25 12 10.25C11.0335 10.25 10.25 11.0335 10.25 12C10.25 12.9665 11.0335 13.75 12 13.75Z"
      [attr.fill]="color"
    />
    <path
      d="M19 13.75C19.9665 13.75 20.75 12.9665 20.75 12C20.75 11.0335 19.9665 10.25 19 10.25C18.0335 10.25 17.25 11.0335 17.25 12C17.25 12.9665 18.0335 13.75 19 13.75Z"
      [attr.fill]="color"
    />
    <path
      d="M5 13.75C5.9665 13.75 6.75 12.9665 6.75 12C6.75 11.0335 5.9665 10.25 5 10.25C4.0335 10.25 3.25 11.0335 3.25 12C3.25 12.9665 4.0335 13.75 5 13.75Z"
      [attr.fill]="color"
    />
  </svg>
  <svg
    [attr.width]="size"
    [attr.height]="size"
    viewBox="0 0 64 64"
    fill="none"
    [attr.stroke]="color"
    *ngSwitchCase="'db-arrow-left'"
  >
    <polyline points="48 48 32 32 48 16" />
    <polyline points="32 48 16 32 32 16" />
  </svg>
  <svg
    [attr.width]="size"
    [attr.height]="size"
    viewBox="0 0 64 64"
    fill="none"
    [attr.stroke]="color"
    *ngSwitchCase="'sng-arrow-left'"
  >
    <polyline points="40 48 24 32 40 16" />
  </svg>
  <svg
    [attr.width]="size"
    [attr.height]="size"
    viewBox="0 0 64 64"
    fill="none"
    [attr.stroke]="color"
    *ngSwitchCase="'db-arrow-right'"
  >
    <polyline points="16 16 32 32 16 48" />
    <polyline points="32 16 48 32 32 48" />
  </svg>
  <svg
    [attr.width]="size"
    [attr.height]="size"
    viewBox="0 0 64 64"
    fill="none"
    [attr.stroke]="color"
    *ngSwitchCase="'sng-arrow-right'"
  >
    <polyline points="24 16 40 32 24 48" />
  </svg>
</span>
