.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90vh;
}

.title {
  color: var(--light-gray-2);
}

.grid-container {
  margin-inline: auto;
  flex-shrink: 0;
  max-width: 1080px;

  padding: 1rem 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
