.list-container {
  gap: 4.5rem;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-container {
  display: flex;
  gap: 1rem;
}

.grid-container {
  animation: appear 750ms;
  padding: 1rem 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
