<main class="main-container list-container">
  <h1 class="title">Favorite Pokemons</h1>
  <div
    class="grid-container"
    *ngIf="favoritePokemonIds.length; else noFavorite"
  >
    <app-pokemon-card
      (favoriteUpdate)="updateFavorites()"
      *ngFor="let pokemon of favoritePokemons"
      [pokemonProps]="pokemon"
    ></app-pokemon-card>
  </div>
</main>

<ng-template #noFavorite>
  <div class="no-favorites-message">
    <p>There is no favorite Pokemon, go</p>
    <a href="http://localhost:4200/pokemons-list">Add one</a>
    <img src="../../../assets/images/pokeball-fav-page.png" alt="" />
  </div>
</ng-template>
