/* You can add global styles to this file, and also import other style files */
:root {
  --dark-gray: #282832;
  --dark-red: #77181e;
  --red: #a92727;
  --light-gray-1: #c6d6d6;
  --light-gray-2: #dee7e7;
  --font: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}
body {
  background-color: var(--dark-gray);
}
